<div id="modal" class="hide">
    <!-- Begin modal .content -->
    <div class="content">
        <!-- Begin modal .content .header -->
        <div class="header">
            <h1>Pontos de coleta</h1>
            <a href="#">Fechar</a>
        </div>
        <!-- End modal .content .header -->

        <!-- Begin modal form -->
        <form action="/search">
            <label for="search">Cidade</label>

            <!-- Begin modal form .search .field -->
            <div class="search field">
                <input type="text" name="search" placeholder="Pesquise por cidade">
                <button class="threed">
                    <img src="/assets/search.svg" alt="Buscar">
                </button>
            </div>
            <!-- End modal form .search .field -->
        </form>
        <!-- End modal form -->
    </div>
    <!-- End modal .content -->
</div>